body {
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    list-style: none;
}

.nav-link {
    color: black;
    padding: 0 20px;
    line-height: 30px;
    text-decoration: none;
}

.nav-link:hover {
    color: chocolate;
}

.nav-link:before {
    content: "→";
    font-weight: 900;
    padding-right: 5px;
}

html {
    scroll-behavior: smooth;
  }

.photo-image {
    width: 200px;
}

h1 {
    font-size: 24px;
    
}

h2 {
    font-size: 18px;
}

.main-text {
    font-size: 16px;
    font-weight: 400;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

section {
    padding: 16px 40px;
    width: 50%;
}

ul {
    line-height: 150%;
}